[class*="is-style-van-gogh-marquee-"] {
	overflow: hidden;
	transition: opacity .25s linear;
}

[class*="is-style-van-gogh-marquee-"],
[class*="is-style-van-gogh-marquee-"] .slider {
	display: flex;
	white-space: nowrap;
}